<div class="row page-header">
	<div class="col-md-10">
		<h3>Edit Donation</h3>
	</div>
	<%= link_to icon('arrow-left')+" Back", :back, class: "col-md-2 btn btn-back btn-secondary" %>
</div>
	
<%= render 'form', donation: @donation %>